.images {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    gap: 17px
}

.btns button {
    width: 60px;
    height: 30px;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 17%;
    height: 60px;
    margin-top: 1%;

}

.btns button.active {
    background: #ffe400;
}